.main-form {
  width: 100%;
  max-width: 25rem;
  padding: 2.5rem;
  background-color: var(--bg-card);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-form .form-title {
  color: var(--text-main);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
